.jemaat-form-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f8f9fa;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin-bottom: 20px;
}

.jemaat-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.full-width {
  grid-column: span 2;
}

.form-row label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

.form-row input,
.form-row select,
.form-row textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.form-row input:focus,
.form-row select:focus,
.form-row textarea:focus {
  border-color: #4CAF50;
  outline: none;
}

textarea {
  resize: none;
  height: 100px;
}

.radio-group {
  display: flex;
  justify-content: space-between;
}

.radio-group label {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.radio-group input {
  margin-right: 8px;
}

.submit-btn {
  padding: 12px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #45a049;
}

/* Styling for family member table */
.family-member-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.family-member-table th{
  font-size: 0.7rem;

}
.family-member-table td {
  border: 1px solid #ddd;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 0.4rem;
}

.family-member-table th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.family-member-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.family-member-table tr:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .full-width {
    grid-column: span 1;
  }
}

/* Specific styles for family member input fields */
.family-member-form {
  display: flex;
  flex-direction: column;
}

.family-member-form input {
  width: calc(100% - 20px); /* Ensures inputs are full width minus padding */
  margin-bottom: 10px; /* Spacing between inputs */
}
