.giving-page {
    padding: 20px;
  }
  
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

  }
  
  .giving-info {
    width: 45%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.1);
    margin-top: 50px;

  }
  
  .giving-info h1 {
    color: #333;
    font-size: 2rem;
  }
  
  .giving-info p, .giving-info ul {
    color: #666;
  }
  
  .giving-info ul {
    padding-left: 20px;
  }
  
  .giving-info li {
    margin-bottom: 10px;
  }
  
  .activity-gallery {
    width: 50%;
    text-align: center;
  }
  
  .gallery-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .gallery-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-image:hover {
    transform: scale(1.05);
  }
  
  .gallery-caption {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #444;
  }
  