.pray-section {
  margin-top: 20vh;
  height: 80vh;
  background-image: url('../../public/images/bg1.JPG'); 
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4); /* Dark overlay for better text visibility */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.pray-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  max-width: 500px; /* Maximum width for the content */
  width: 90%; /* Allow the content to take 90% of the width */
}

.pray-content h1 {
  color: aliceblue;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  animation: fade-in-title 1s ease forwards;
}

.pray-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.pray-content button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #10375C;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pray-content button:hover {
  background-color: #195f9f;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .pray-content h1 {
    font-size: 3rem; /* Reduce font size for smaller screens */
  }

  .pray-content p {
    font-size: 1rem; /* Reduce paragraph font size */
  }

  .pray-content button {
    font-size: 0.9rem; /* Adjust button font size */
  }
}

@media (max-width: 450px) {
  .pray-content {
    padding: 15px; /* Adjust padding for very small screens */
  }

  .pray-content h1 {
    font-size: 2.5rem; /* Further reduce font size */
  }

  .pray-content p {
    font-size: 0.9rem; /* Further reduce paragraph font size */
  }

  .pray-content button {
    padding: 8px 16px; /* Adjust button padding for smaller screens */
  }
}
