
.news-page, .service-page, .giving-page, .about-page {
  padding: 20px;
  background-color: #fff;
}

.news-item, .service-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ffcc00;
  border-radius: 5px;
  background-color: #fffbe6;
}

ul {
  list-style-type: square;
}
/* https://colorhunt.co/palette/f4f6fff3c623eb831710375c */